<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:theme="@style/AppTheme"
        android:label="พายุจัดการไวรัสโหด"
        android:icon="@drawable/app_icon"
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- หน้าแรก -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- หน้าสมัครสมาชิก -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

        <!-- หน้าหลักของแอป -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

    </application>

</manifest>
